<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Thin.subset.woff2</string>
		<string>Pretendard-SemiBold.subset.woff2</string>
		<string>Pretendard-Regular.subset.woff2</string>
		<string>Pretendard-Medium.subset.woff2</string>
		<string>Pretendard-ExtraLight.subset.woff2</string>
		<string>Pretendard-ExtraLight.subset.woff2</string>
		<string>Pretendard-ExtraBold.subset.woff2</string>
		<string>Pretendard-Bold.subset.woff2</string>
		<string>Pretendard-Black.subset.woff2</string>
	</array>
</dict>
</plist>
